; Format (MAX_LOAD_PROB = 1000 by default):
; #<RIGHT_obj_vnum_1>
; <RIGHT_mob_vnum_1>  <0 <= obj_qty_1>  <0 <= load_prob_1 <= MAX_LOAD_PROB>
; <RIGHT_mob_vnum_2>  <0 <= obj_qty_2>  <0 <= load_prob_2 <= MAX_LOAD_PROB>
; ..................  ................  ...................................
; <RIGHT_mob_vnum_i>  <0 <= obj_qty_i>  <0 <= load_prob_i <= MAX_LOAD_PROB>
; etc.

; Example:
;
;#500
;38800  10  500
;38801  2 1000
;--------------------

