/src/**           working-tree-encoding=KOI8-R
/tests/**         working-tree-encoding=KOI8-R
/lib.template/**  working-tree-encoding=KOI8-R
/lib/text/help/** working-tree-encoding=KOI8-R
/bin.win/**       working-tree-encoding=windows-1251
*.dll             -diff -working-tree-encoding
