# git ignore file
src/version.cpp
build
buildx64
build.ubuntu
build.clion
bin
.vscode
.idea
build.clang/*
cmake-build-debug/
.crash
cmake_install.cmake
libcircle.library.a
lib/
tests/CTestTestfile.cmake
cmake-build-release/
