# git ignore file
src/version.cpp
build
buildx64
build.ubuntu
build.clion
bin
.vscode
.idea
build.clang/*
cmake-build-debug/
.crash
cmake_install.cmake
libcircle.library.a
CMakeFiles/
lib/
log/boot_load.log
circle
CMakeCache.txt
bylins.cbp
changelog
Makefile
syslog
log/
tests/CTestTestfile.cmake
