# git ignore file
src/version.cpp
autorun
build
buildx64
build.ubuntu
build.clion
bin
.vscode
.idea
build.clang/*
cmake-build-debug/
cmake-build-debug-wsl/
.crash
cmake_install.cmake
libcircle.library.a
lib/
tests/CTestTestfile.cmake
cmake-build-release/
cmake-build-release-wsl/
log/
syslog
cmake-build-*
build/
build_*/
magic.mgc
data/
misc/

__pycache__/
