exclude = ^subprojects/
exclude = ^src/third_party_libs/
exclude = ^tests/
exclude = ^build/

# Инлайновый метод из заголовка попадает в несколько unity-блоков, и gcov
# приписывает его то к строке объявления, то к следующей. При строгом режиме
# (по умолчанию) gcovr падает на таком расхождении:
#   AssertionError: Got function utils::CExecutionTimer::CExecutionTimer()
#   on multiple lines: 19, 20.
# Берем наименьшую строку -- расхождение чисто в атрибуции, покрытие то же.
merge-mode-functions = merge-use-line-min
