server:
  http_listen_port: 3200

distributor:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4317

ingester:
  max_block_duration: 5m

compactor:
  compaction:
    block_retention: 720h  # 30 days

metrics_generator:
  registry:
    external_labels:
      source: tempo
  storage:
    path: /var/tempo/generator/wal
    remote_write:
      - url: http://prometheus:9090/api/v1/write
        send_exemplars: true
  processor:
    service_graphs:
      wait: 10s
      max_items: 10000
    span_metrics:
      histogram_buckets: [0.001, 0.002, 0.005, 0.010, 0.025, 0.050, 0.100, 0.250, 0.500, 1.0, 2.5]
      dimensions:
        - step
        - spell_name
        - trigger_type
      enable_target_info: true

overrides:
  defaults:
    metrics_generator:
      processors: [service-graphs, span-metrics]

storage:
  trace:
    backend: local
    local:
      path: /var/tempo/blocks
    wal:
      path: /var/tempo/wal
    search:
      chunk_size_bytes: 1_000_000
