Type: 1 Clan: 0 PersUID: 0 PersName: none
Message: 7
Стрибог 224476644 34 1466579805 0
~
   Теперь при использовании умения "обезоружить" оружие противника будет падать в инвентарь.
   При освежевании трупа в инвентаре, он не будет вываливаться с содержимым на землю.
~
Message: 6
Полель 625229993 33 1467371897 0
~
   Слегка изменено действие умения "обезоружить", увеличен опыт с мобов на которых нет замакса.
~
Message: 5
Стрибог 224476644 34 1469010596 0
~
   Кудесникам добавлено заклинание "Ментальная тень", подробнее в анонсах или справке.
~
Message: 4
Стрибог 224476644 34 1469111501 0
~
   Изменена зависимость умения магии на скорость запоминания заклинания.
~
Message: 3
Стрибог 224476644 34 1471079685 0
~
   Добавлен новый тип предмета "уникальный", в экипировке может быть только один подобный предмет.
~
Message: 2
Свентовит 763708831 34 1471849870 0
~
   Существенно изменилась зона "Проклятая деревня", что к югу от Киева.
   Снижена вероятность выпадения книги с заклинанием "длительное оцепенение".
   Временно отключено выпадение книги заклинания "Навьи руки" в районе Новгорода.
   Добавлено еще одно место выпадение в районе Киева.
~
Message: 1
Стрибог 224476644 34 1472193400 0
~
   Добавлена проверка на возможность говорить и слышать в каналах гд и гс.
~
Message: 0
Стрибог 224476644 34 1474457760 0
~
   Введен новый параметр предметов "качество", подробности в справке.
   Теперь книги с заклинаниями рассыпаюются по таймеру в магазине.
~
